<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574051816101-bmr3acprqn5546ivgjuiqaijkt1f98s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574051816101-bmr3acprqn5546ivgjuiqaijkt1f98s2</string>
	<key>API_KEY</key>
	<string>AIzaSyAcPu2bPWxfZAM0Uc_JR8X9aEgMMoy2fsI</string>
	<key>GCM_SENDER_ID</key>
	<string>574051816101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somee.nkkha.Messenger</string>
	<key>PROJECT_ID</key>
	<string>ios-messenger-2b28d</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-messenger-2b28d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574051816101:ios:fe1ead16044a3095c5734c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-messenger-2b28d.firebaseio.com</string>
</dict>
</plist>